<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>product_text</name>
	<displayName><![CDATA[Texto de productos]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Modulo que permite añadir una frase única para cada producto]]></description>
	<author><![CDATA[rcuevas-webimpacto]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
